* {
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    width: 100%;
    min-width: 1200px;
    overflow: hidden;
    font-family: 'Titillium Web', sans-serif;
}

::-moz-selection {
    background: rgba(217, 111, 31, 0.99);
    color: #fff;
    text-shadow: none;
}

::selection {
    background: rgba(217, 111, 31, 0.99);
    color: #fff;
    text-shadow: none;
}

input, textarea {
    font-family: 'Titillium Web', sans-serif;
    outline: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wrap-modal-login {
    max-width: 600px;
    margin: 0 auto;
}

.wrap-modal-search {
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
}

.wrap-modal-leaders {
    margin: 14vh auto;
    max-width: 750px;
    transition: all 0.3s ease-in-out 0s;
}

.active .wrap-modal-leaders {
    margin: 15vh auto;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(14, 27, 43, 0.5);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
}

.modal.active {
    visibility: visible;
    opacity: 1;
}

.modal-banner {
    z-index: 20;
    background: rgba(6, 13, 22, 0.95);
    width: 100%;
    color: #fff;
    padding: 50px 0;
    margin: 24vh 0 0 0;
    float: left;
    transition: all 0.3s ease-in-out 0s;
}

.active .modal-banner {
    margin: 25vh 0 0 0;
}

.icon-content-load {
    background: url(../assets/texture/content-load.gif) no-repeat;
    width: 32px;
    height: 32px;
    opacity: .9;
    display: block;
    margin: 0 auto;
}

.modal-para {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 300;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    color: #8798ac;
    margin: 20px 0 50px 0;
}

.btn-sub {
    color: #3f4c5b;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out 0s;
}

.btn-sub:hover {
    color: #8798ac;
}

.wrap-modal-login .btn-sub {
    margin: 30px 0 0 0;
    float: left;
}

.form-session {
    float: left;
}

.field-session {
    float: left;
    padding: 10px 20px;
    border: 0;
    color: #8798ac;
    font-size: 16px;
    margin: 0 10px 0 0;
    height: 48px;
    width: 220px;
    background: #e1eaf7;
    background: linear-gradient(to right, #e1eaf7 0%, #e1eaf7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#243141', endColorstr='#334152', GradientType=1);
}

.container-form-landing .field-session {
    width: 170px;
}

.wrap-btn-action {
    float: left;
    padding: 10px 20px;
    cursor: pointer;
    height: 48px;
    background: #da7020;
    background: linear-gradient(to right, #da7020 0%, #ca5907 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#da7020', endColorstr='#ca5907', GradientType=1);
    transition: box-shadow 0.3s ease-in-out 0s;
}

.wrap-btn-action:hover {
    box-shadow: 0 0 10px 0 rgba(217, 111, 31, 0.8) !important;
}

.btn-action {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    border: 0;
    background: transparent;
    cursor: pointer;
    float: left;
    text-transform: uppercase;
}

.btn-second,
.btn-none {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    border: 0;
    padding: 10px 20px;
    float: left;
    position: relative;
    cursor: pointer;
    height: 48px;
    text-transform: uppercase;
    text-decoration: none;
    background: #243141;
    background: linear-gradient(to right, #243141 0%, #334152 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#243141', endColorstr='#334152', GradientType=1);
    transition: all 0.3s ease-in-out 0s;
}

.btn-second:hover {
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.1);
}

.btn-none {
    background: transparent;
    color: #8798ac;
}

.btn-none:hover {
    color: #fff;
}

::-webkit-input-placeholder {
    color: #697e97;
}

:-moz-placeholder {
    color: #697e97;
    opacity: 1;
}

::-moz-placeholder {
    color: #697e97;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #697e97;
}

.form-error {
    float: left;
    clear: both;
    color: #c64b4b;
    font-size: 15px;
    margin: 20px 0;
    display: none;
}

body.landing {
    background: #162232 center top no-repeat;
    background-size: cover;
}

.icon-guest-load {
    background: url(../img/guest-load.gif) no-repeat;
    width: 16px;
    height: 16px;
    float: right;
    margin: 5px -7px 0 7px;
    display: none;
}

.wrap-landing {
    max-width: 1000px;
    margin: 0 auto;
}

.logo-big {
    margin: 0 auto;
    display: block;
}

.container-landing {
    float: left;
    width: 100%;
    margin: 12% 0 0 0;
}

@media (max-width: 1450px) {
    .container-landing {
        margin: 9% 0 0 0;
    }
}

.teaser-landing {
    text-align: center;
    font-size: 21px;
    font-weight: 300;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    color: #8798ac;
    line-height: 29pt;
    cursor: default;
}

.choose {
    float: left;
    color: #8798ac;
    margin: 10px 30px;
    cursor: default;
}

.container-form-landing {
    margin: 40px 0;
    opacity: 0;
}

.container-form-landing.active {
    transition: all 0.4s ease-in-out 0s;
    margin: 60px 0;
    opacity: 1;
}

body.inner {
    background: url(../img/inner-bg.jpg) #162232 center top no-repeat;
    background-size: cover;
    padding: 40px;
}

.logo-medium {
    float: left;
}

main {
    float: left;
    clear: both;
    width: 70%;
}

.container-content {
    float: left;
    width: 100%;
    padding: 20px;
    height: calc(100vh - 150px);
    min-height: 400px;
    clear: both;
    position: relative;
    color: #fff;
    background: #080d14;
    background: linear-gradient(to bottom, #080d14 4%, rgba(8, 13, 20, 0.56) 46%, rgba(239, 239, 239, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#080d14', endColorstr='#00efefef', GradientType=0);
}

nav {
    float: left;
    margin: 30px 0 0 0;
    clear: both;
    width: 100%;
}

nav ul {
    float: left;
    margin: 0;
    width: 100%;
}

nav li {
    float: left;
}

nav a {
    color: #8798ac;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 300;
    padding: 12px 30px;
    float: left;
    cursor: pointer;
    height: 55px;
    transition: all 0.3s ease-in-out 0s;
}

nav a:hover {
    color: #c5cfda;
}

nav a.active {
    color: #d96f1f;
    text-shadow: none;
    background: #080d14;
}

.sub-nav {
    float: right;
}

.sub-nav a {
    padding: 12px;
    color: #d96f1f;
    text-shadow: none;
}

.container-chat {
    float: right;
    width: 29%;
}

.container-chat a {
    font-size: 14px;
    padding: 18px;
}

.chat {
    float: left;
    width: 100%;
    padding: 20px;
    height: calc(100vh - 200px);
    min-height: 400px;
    clear: both;
    position: relative;
    color: #fff;
    background: #080d14;
    background: linear-gradient(to bottom, #080d14 4%, rgba(8, 13, 20, 0.56) 46%, rgba(239, 239, 239, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#080d14', endColorstr='#00efefef', GradientType=0);
}

.chats {
    float: left;
    overflow-y: auto;
    height: calc(100% - 80px);
    width: 100%;
}

.chatbox {
    height: 80px;
    float: left;
    width: 100%;
    border: 0;
    resize: none;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    font-size: 15px;
    font-weight: 300;
    color: #8798ac;
    background: #080d14;
    background: linear-gradient(to bottom, #080d14 4%, rgba(8, 13, 20, 0.56) 46%, rgba(239, 239, 239, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#080d14', endColorstr='#00efefef', GradientType=0);
}

.card-img {
    background-size: 120px 227px;
    width: 120px;
    height: 227px;
}

.card-img-small {
    background-size: 70px 132px;
    width: 70px;
    height: 132px;
}

.card-wrap-big .card-img {
    background-size: 150px 284px !important;
    width: 150px !important;
    height: 284px !important;
    top: 4px;
    left: 4px;
}

.card,
.card-small-small {
    float: left;
    border-radius: 8px;
    position: relative;
    z-index: 10;
    top: 3px;
    left: 3px;
}

.card-small-small {
    top: 2px;
    left: 2px;
    border-radius: 8px;
}

.bla {
    border-radius: 14px;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}

.card-wrap-small .bla {
    border-radius: 8px;
}

.card-wrap:hover .bla,
.card-wrap-small:hover .bla {
    box-shadow: 0 0 2px 0 orange;
    opacity: 1;
}

.shadow {
    border-radius: 35%;
    box-shadow: 0 0 15px 14px #ffa500;
    content: "";
    height: calc(100% - 50px);
    left: 15px;
    position: absolute;
    width: calc(100% - 22px);
    z-index: 1;
    top: 30px;
    transition: all 0.3s ease-in-out 0s;
    opacity: 0;
}

.card-cell:hover .shadow,
.card-wrap:hover .shadow,
.card-wrap-small:hover .shadow {
    -webkit-animation: Shadow 4s ease-in-out infinite;
    animation: Shadow 4s ease-in-out infinite;
}

.ani {
    background: linear-gradient(2deg, #000, #000, #000, #000);
    transition: all 0.05s ease-in-out 0s;
}

.card-wrap:hover .ani,
.card-wrap-small:hover .ani {
    background: linear-gradient(2deg, #ffa500, #ffd68b, #ffa500, #ffa500);
    background-size: 800% 800%;
    -webkit-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
}

@-webkit-keyframes Shadow {
    0% {
        opacity: 0;
    }
    25% {
        opacity: .5;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: .5;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes Shadow {
    0% {
        opacity: 0;
    }
    25% {
        opacity: .5;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: .5;
    }
    100% {
        opacity: 0;
    }
}

@keyframes Shadow {
    0% {
        opacity: 0;
    }
    25% {
        opacity: .5;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: .5;
    }
    100% {
        opacity: 0;
    }
}

.overlay-card {
    background: linear-gradient(2deg, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05));
    background-size: 800% 800%;
    position: absolute;
    z-index: 20;
    top: 6px;
    left: 6px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 12px;
    opacity: 0;
    cursor: pointer;
}

.card-cell:hover .overlay-card,
.card-wrap:hover .overlay-card,
.card-wrap-small:hover .overlay-card {
    opacity: 1;
    -webkit-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 51% 0%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 51% 0%;
    }
}

@keyframes AnimationName {
    0% {
        background-position: 51% 0%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 51% 0%;
    }
}

.card-wrap {
    float: left;
    width: 126px;
    height: 233px;
    position: relative;
    padding: 4px 0;
}

.card-wrap-big {
    width: 158px;
    height: 292px;
    transition: all 0.2s ease-in-out 0s;
    margin: 0 0 0 20px;
}

.card-wrap-small {
    float: left;
    width: 74px;
    height: 136px;
    position: relative;
    padding: 4px;
}

.card-wrap:hover,
.card-wrap-small:hover {
    z-index: 100;
}

/**
 * DECK BUILDER
 */
.all-cards {
    float: left;
    width: calc(100% + 50px);
    height: 100%;
    overflow-y: auto;
}

.all-cards-wrap {
    overflow: hidden;
    width: 53%;
    float: left;
    height: calc(100% + 40px);
    padding: 0 20px;
    margin: -100px 0 0 0;
}

.test {
    height: 100%;
}

.heading {
    float: left;
    width: 100%;
    position: relative;
    z-index: 1000;
    padding: 25px 0;
    background: linear-gradient(to bottom, #080d14 0%, #080d14 36%, rgba(8, 13, 20, 0.85) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#080d14', endColorstr='#d9080d14', GradientType=0);
}

.heading .heading-decks {
    float: left;
    width: 53%;
}

.heading .heading-my-deck {
    float: left;
    width: 47%;
    padding: 0 0 0 10px;
}

.heading span {
    float: left;
    font-size: 17px;
    color: #435365;
    font-weight: 600;
    margin: 0 0 0 20px;
}

.heading a {
    font-size: 17px;
    color: #435365;
    margin: 0 0 0 30px;
    font-weight: 600;
    cursor: pointer;
}

.heading a.active {
    color: #c3cdd8;
}

.clear-space {
    float: left;
    width: 100%;
    height: 100px;
}