<style>
  body {
    background: #ffffff center top no-repeat;
    background-size: cover;
  }

  .container {
    margin-bottom: 0;
  }

  .container-form-landing {
    opacity: 1;
    margin: 60px 0 0 0;
    display: flex;
    justify-content: center;
  }

  .field-session {
    width: 250px !important;
  }

  .container {
    background: transparent;
  }

  .icon-action-load {
    background: url(/assets/texture/action-load.gif) no-repeat;
    display: none;

    width: 16px;
    height: 16px;
    float: right;
    margin: 6px -7px 0 7px;
  }

  .startMatchmaking {
    height: auto !important;
    width: auto !important;
    line-height: 29px;
  }

  .startMatchmakingWithBot {
    height: auto !important;
    width: auto !important;
    line-height: 29px;
    margin-right: 10px;
    background: linear-gradient(to right, rgb(32, 200, 218) 0%, rgb(32, 200, 218) 100%);
  }

  .wrap-landing {
    max-width: 800px;
  }

  .teaser-landing {
    float: left;
    width: 100%;
    margin: 70px 0 0 0;
    text-shadow: none;
  }

  .status-offline {
    color: red;
  }

  .status-online {
    color: green;
  }
</style>

<section class="container-landing">
  <div class="wrap-landing">
    <img src="/assets/texture/logo-big.jpg" height="300" alt="Gwent" class="logo-big">

    <div class="container-form-landing">

      <input type="text" placeholder="房间名（可不填）" class="field-session field-username room-name-input">

      <input type="text" placeholder="用户名" class="field-session field-username name-input" autofocus value="{{name}}">

      <select id="deckChoice" class="field-session">
        <option value="random">牌组: 随机</option>
        <option value="kumiko1">牌组: 久一年（第一季）</option>
        <option value="kumiko1_2">牌组: 久一年（第一季）全明星</option>
        <option value="kumiko1S2">牌组: 久一年（第二季）</option>
        <option value="kumiko1S2_2">牌组: 久一年（第二季）全明星</option>
        <option value="kitauji">牌组: 久二年</option>
        <option value="kitauji2">牌组: 久二年全明星</option>
      </select>
    </div>
    <div class="container-form-landing" style="margin-top:10px">
      <div class="wrap-btn-action btn-register-action startMatchmakingWithBot">
        <input type="submit" value="人机对战" class="btn-action">
      </div>
      <div class="wrap-btn-action btn-register-action startMatchmaking">
        <input type="submit" value="匹配对手" class="btn-action">
        <i class="icon-action-load image-gif-loader"></i>
      </div>
    </div>
    <p class="teaser-landing">
      {{#if serverOffline}}
        <span>服务器状态: <span class="status-offline">离线</span></span>
      {{else}}
        <span>在线人数: <span class="nr-player-online">0</span></span><br>
        <span>服务器状态: <span class="status-online">在线</span></span>
      {{/if}}
    </p>
  </div>
</section>

<footer class="rights">
  <p>This is a fan game and all rights are reserved by CD Projekt(and Kyoto Animation)</p>
</footer>