<div class="bbm-modal__topbar">
  <h3 class="bbm-modal__title">比赛结束</h3>
</div>
<div class="bbm-modal__section">
  <h1>{{winner}} 赢得比赛!</h1>
  <p>本程序基于开源昆特牌项目实现，详情请见 <a href="https://github.com/exane/not-gwent-online" target="_blank">Github Gwent-Online</a>.</p>
  <p>刷新页面可以重新开始比赛。</p>

  <div class="wrap-btn-action btn-register-action startMatchmaking" onclick="location.reload()">
    <input type="submit" value="再来一局" class="btn-action">
  </div>
  <p><b>Thanks for playing the game!</b></p>
</div>

<style>
  .startMatchmaking {
    line-height: 30px;
    width: auto;
    margin: 30px 0;
  }
</style>
