<div class="bbm-modal__topbar">
  <h3 class="bbm-modal__title">{{title}}</h3>
</div>
<div class="bbm-modal__section">
  <div class="panel-row" style="height: 300px;justify-content: center;align-items: center;">
    <div id="startMatchmakingWithBot2" class="panel-btn panel-btn-sm wrap-btn-action startMatchmakingWithBot">
      <div class="btn-text">{{i18n "bot"}}</div>
      <div class="btn-background-partial btn-startMatchWithBot"></div>
    </div>
    <div id="startMatchmaking2" class="panel-btn panel-btn-sm wrap-btn-action startMatchmaking">
      <div class="btn-text">{{i18n "matching"}}</div>
      <div class="image-gif-loader"></div>
      <div class="btn-background-partial btn-startMatch"></div>
    </div>
  </div>
</div>
