<button class="btn btn-danger button-quit">Quit</button>
<div class="tree-container">
  <div class="panel panel-dark">
  <div class="panel-heading">
    第一回定期演奏会
  </div>
  <div class="panel-body">
    <table class="table table-hover-td table-dark tree">
    <tbody>
      {{#treeTable tree}}
      {{/treeTable}}
      {{!-- <tr>
        <td>7</td>
        <td rowspan="2">3</td>
        <td rowspan="4">1</td>
        <td rowspan="4">0</td>
        <td rowspan="4">2</td>
        <td rowspan="2">5</td>
        <td>11</td>
      </tr>
      <tr>
        <td>8</td>
        <td>12</td>
      </tr>
      <tr>
        <td>9</td>
        <td rowspan="2">4</td>
        <td rowspan="2">6</td>
        <td>13</td>
      </tr>
      <tr>
        <td>10</td>
        <td>14</td>
      </tr> --}}
    </tbody>
    </table>
  </div>
  </div>
  <div class="lobby-footer">
    <span>{{i18n "online_count"}}<span class="nr-player-online">0</span></span>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <span>{{i18n "idle_count"}}<span class="nr-player-idle">0</span></span>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <span>{{i18n "server_stat"}}<span class="status-online">{{i18n "online"}}</span></span>
  </div>
</div>