
.ability-md {
  background-image: url('../../public/build/abilities-md.PNG');
}

.ability-md-all {
  background-position: -98px -0px;
  width: 98px;
  height: 100px;
}
.ability-md-bond {
  background-position: -98px -200px;
  width: 98px;
  height: 100px;
}
.ability-md-brass {
  background-position: -196px -0px;
  width: 98px;
  height: 100px;
}
.ability-md-decoy {
  background-position: -0px -100px;
  width: 98px;
  height: 100px;
}
.ability-md-guard {
  background-position: -98px -100px;
  width: 98px;
  height: 100px;
}
.ability-md-horn {
  background-position: -196px -100px;
  width: 98px;
  height: 100px;
}
.ability-md-kasa {
  background-position: -294px -0px;
  width: 98px;
  height: 100px;
}
.ability-md-lips {
  background-position: -294px -100px;
  width: 98px;
  height: 100px;
}
.ability-md-medic {
  background-position: -0px -200px;
  width: 98px;
  height: 100px;
}
.ability-md-monaka {
  background-position: -0px -0px;
  width: 98px;
  height: 100px;
}
.ability-md-morale {
  background-position: -196px -200px;
  width: 98px;
  height: 100px;
}
.ability-md-muster {
  background-position: -294px -200px;
  width: 98px;
  height: 100px;
}
.ability-md-perc {
  background-position: -392px -0px;
  width: 98px;
  height: 100px;
}
.ability-md-scorch {
  background-position: -392px -100px;
  width: 98px;
  height: 100px;
}
.ability-md-special {
  background-position: -392px -200px;
  width: 98px;
  height: 100px;
}
.ability-md-spy {
  background-position: -0px -300px;
  width: 98px;
  height: 100px;
}
.ability-md-tunning {
  background-position: -98px -300px;
  width: 98px;
  height: 100px;
}
.ability-md-umbrella {
  background-position: -196px -300px;
  width: 98px;
  height: 100px;
}
.ability-md-wood {
  background-position: -294px -300px;
  width: 98px;
  height: 100px;
}
