@import "ability";

.gwent-collections {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: #222 url("/assets/texture/kanban/mvbg.jpg");
  background-blend-mode: overlay;
  // background-position: center;
  background-size: cover;
  color: #ccc;

  .collections-side {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    .side-title {
      min-height: 35px;
      text-align: center;
      h4, h5 {
        margin: 0;
      }
    }

    .card-filters {
      display: flex;
      justify-content: center;
      height: 40px;

      .filter-icon {
        width: 40px;
        height: 40px;
        cursor: pointer;
        margin: 0 30px;
        opacity: .3;

        i {
          transform: scale(0.4, 0.4) translate(-70%, -70%);
          display: block;
        }

        .icon-all-card {
          @extend .ability-md-all;
          @extend .ability-md;
        }
        .icon-wood {
          @extend .ability-md-wood;
          @extend .ability-md;
        }
        .icon-brass {
          @extend .ability-md-brass;
          @extend .ability-md;
        }
        .icon-perc {
          @extend .ability-md-perc;
          @extend .ability-md;
        }
        .icon-special {
          @extend .ability-md-special;
          @extend .ability-md;
        }
      }

      .active {
        opacity: 1;
      }
    }

    .card-table {
      flex-grow: 1;
      text-align: center;
      overflow-y: scroll;
      margin: 10px;

      .placeholder {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .collections-middle {
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    .btn-page {
      background: none;
      color: white;
    }

    .btn-page.active {
      background: white;
      color: black;
    }

    .deck-choice {
      display: flex;
      justify-content: center;

      select {
        padding: 10px 20px;
        border: 0;
        color: #8798ac;
        font-size: 16px;
        height: 48px;
        width: 220px;
        background: none;
      }
    }

    .deck-stats {
      flex-grow: 1;
      overflow-y: scroll;

      .special-limit {
        color: #41ff2a;
      }
      .special-limit-exceed {
        color: #ff2a2a;
      }
    }

    .leader-field {
      display: flex;
      justify-content: center;
    }

    .bottom {
      margin: 10px;
      display: flex;
      justify-content: center;
      line-height: 29px;

      .disabled {
        background: #aaa;
      }
    }
  }

  .selector-modal {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 100;
    cursor: pointer;
    background: rgba(6,13,22,0.5);
  }

  .selector-modal .hidden {
    display: none;
  }
}

.card-cell {
  display: inline-block;
  cursor: pointer;
  z-index: 10;
  height: 288px;
  width: 154px;
  position: relative;
  border-radius: 8px;
  margin: 5px;

  i {
    border-radius: 10px;
    top: 2px;
    left: 2px;
    display: block;
    position: absolute;
    z-index: 10;
  }

  .card-animation {
    border-radius: 8px;
  }

  .card-count {
    position: absolute;
    z-index: 11;
    right: 2px;
    top: 2px;
    width: 50px;
    height: 32px;
    background: #00000030;

    .card-icon {
      background-image: url("/assets/texture/card_icon.png");
      background-size: contain;
      width: 24px;
      height: 24px;
      margin-top: 2px;
    }

    .count-text {
      position: absolute;
      left: 24px;
      line-height: 32px;
      font-size: 18px;
      font-weight: bold;
    }
  }

  .card-price {
    position: absolute;
    z-index: 11;
    bottom: 2px;
    right: 2px;
    padding: 0 5px;
    border-radius: 0 0 5px 0;
    height: 32px;
    line-height: 32px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: goldenrod;
  }

  .ability-desc {
    text-align: left;
    padding: 0 5px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 11;
    background: #101010bb;
    filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#7F000000,endColorstr=#7F000000);
    border-radius: 0 0 5px 5px;

    .related-card {
      color: red,
    }
    .related-card.owned {
      color: green;
    }
  }
}
