.comp-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #666 url("/assets/texture/kanban/mvbg.jpg");
  background-blend-mode: overlay;
  background-size: cover;

  .panel-container {
    height: 50%;
    width: 100%;
    margin: 50px;
    flex-grow: 1;
    display: flex;
  }

  .panel {
    width: 40%;
    height: 100%;
    margin: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    .panel-heading-reverse,.panel-footer {
      display: flex;
      flex-direction: row-reverse;
      padding: 10px;
    }

    .panel-body {
      flex-grow: 1;
      overflow: scroll;
    }
  }

  .room-list {
    th,
    td {
      vertical-align: middle;
    }
    tr {
      height: 50px;
    }
    .selected {
      background-color: rgba(255,255,255,.08) !important;
    }
  }
}

.competition-result {
  td {
    position: relative;
    padding-right: 10px;
  }
}

.tree-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #666 url("/assets/texture/kanban/mvbg.jpg");
  background-blend-mode: overlay;
  background-size: cover;

  .panel {
    width: 95%;
    height: 80%;
    flex-grow: 1;
    margin: 50px;
    display: flex;
    flex-direction: column;

    .panel-heading {
      .btn {
        float: right;
      }
      padding: 10px;
    }

    .panel-body {
      flex-grow: 1;
      flex-direction: column;
      overflow: scroll;
    }
  }

  .tree {
    width: unset;
    td {
      border: none;
      text-align: center;
      vertical-align: middle;
      padding: 0;
      position: relative;
      &.node {
        &::after,&::before {
          content: '';
          position: absolute;
          right: 0;
          border-right: 1px solid #ccc;
          width: 8px;
          height: 50%;
        }
        &.right-tree::after,&.right-tree::before {
          left: 0;
          right: auto;
          border-right: none;
          border-left: 1px solid #ccc;
        }
        &::after {
          top: 50%;
          border-top: 1px solid #ccc;
          border-radius: 0 5px 0 0;
        }
        &::before {
          bottom: 50%;
          border-bottom: 1px solid #ccc;
          border-radius: 0 0 5px 0;
        }
        &.right-tree::after {
          border-radius: 5px 0 0 0;
        }
        &.right-tree::before {
          border-radius: 0 0 0 5px;
        }
        &.left-node::before {
          display: none;
        }
        &.right-node::after {
          display: none;
        }
        &.empty-node,&.root {
          &::before,&::after {
            display: none;
          }
        }
        &.leaf .inner-table::before {
          display: none;
        }
        &.right-tree .inner-table::before {
          right: 0;
          left: auto;
        }
        &.root .inner-table::after {
          content: '';
          position: absolute;
          top: 50%;
          right: 0;
          border: 1px solid #ccc;
          width: 8px;
          height: 0;
        }
      }
    }

    .inner-table {
      margin: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        border: 1px solid #ccc;
        width: 8px;
        height: 0;
      }
      .table {
        width: 100%;
      }
      td {
        text-align: left;
        width: unset;
        padding: 8px;
        position: relative;
      }
      .name {
        min-width: 120px;
      }
      .loser {
        color: #666;
      }
      .isMe {
        font-weight: bold;
        font-style: italic;
      }
    }
    .inner-table:hover {
      background-color: rgba(255,255,255,.08) !important;
    }
  }

  .winner-badge::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 10px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: gold;
  }

}