.card-wrap {
  float: left;
  cursor: pointer;
  z-index: 10;
  height: auto !important;
  width: auto !important;
  margin: 3px;
}

.card-wrap .shadow,
.grave .shadow {
  height: calc(100% - 40px);
  left: 14px;
  top: 20px;
  width: calc(100% - 26px);
}

/*.card-wrap:hover {
  z-index: 20;
}*/

.card {
  border: none !important;
  margin: 0;
  height: 93px !important;
}

.card {
  float: left;
  height: 93px;
  width: 69px;
  position: relative;
  overflow: hidden;

  //causes weird bug when margin gets calculated
  //transition: margin .05s ease-in-out 0s;
}

.card i {
  border-radius: 10px;
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  transform: scale(.43) translate(-68%, -67%);
  z-index: 10;
}

.small-cards-modal {
  flex-grow: 1;

  .hand-wrap {
    background: rgba(0, 0, 0, .8);
    width: 100%;
    height: 130px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .card {
    border: none !important;
    margin: 0 !important;
    height: 93px !important;
  }

  .hand-cards {
    max-width: calc(100% - 350px);
    margin: 0 auto;
    width: 100%;
    float: left;
  }

}

.card-wrap {
  float: left;
  cursor: pointer;
  z-index: 10;
  height: auto !important;
  width: auto !important;
  margin: 3px;
}

.scorch-card:before {
  background: url(/assets/texture/explode.gif) center;
  opacity: .8;
  position: absolute;
  content: '';
  height: 93px;
  width: 69px;
  z-index: 11;
  pointer-events: none;
}

.ability-md {
  background-image: url('../../public/build/abilities-md.PNG');
}

.ability-md-bond {
  background-position: -98px -0px;
  width: 98px;
  height: 100px;
}
.ability-md-decoy {
  background-position: -294px -100px;
  width: 98px;
  height: 100px;
}
.ability-md-guard {
  background-position: -196px -0px;
  width: 98px;
  height: 100px;
}
.ability-md-horn {
  background-position: -0px -100px;
  width: 98px;
  height: 100px;
}
.ability-md-kasa {
  background-position: -98px -100px;
  width: 98px;
  height: 100px;
}
.ability-md-lips {
  background-position: -196px -100px;
  width: 98px;
  height: 100px;
}
.ability-md-medic {
  background-position: -294px -0px;
  width: 98px;
  height: 100px;
}
.ability-md-monaka {
  background-position: -0px -0px;
  width: 98px;
  height: 100px;
}
.ability-md-morale {
  background-position: -0px -200px;
  width: 98px;
  height: 100px;
}
.ability-md-muster {
  background-position: -98px -200px;
  width: 98px;
  height: 100px;
}
.ability-md-scorch {
  background-position: -196px -200px;
  width: 98px;
  height: 100px;
}
.ability-md-spy {
  background-position: -294px -200px;
  width: 98px;
  height: 100px;
}
.ability-md-tunning {
  background-position: -392px -0px;
  width: 98px;
  height: 100px;
}
.ability-md-umbrella {
  background-position: -392px -100px;
  width: 98px;
  height: 100px;
}

.spy-card:before {
  @extend .ability-md-spy;
  @extend .ability-md;
}

.morale-card:before {
  @extend .ability-md-morale;
  @extend .ability-md;
}

.muster-card:before {
  @extend .ability-md-muster;
  @extend .ability-md;
}

.medic-card:before {
  @extend .ability-md-medic;
  @extend .ability-md;
}

.bond-card:before {
  @extend .ability-md-bond;
  @extend .ability-md;
}

.horn-card:before {
  @extend .ability-md-horn;
  @extend .ability-md;
}

.tunning-card:before {
  @extend .ability-md-tunning;
  @extend .ability-md;
}

.lips-card:before {
  @extend .ability-md-lips;
  @extend .ability-md;
}

.kasa-card:before {
  @extend .ability-md-kasa;
  @extend .ability-md;
}

.decoy-card:before {
  @extend .ability-md-decoy;
  @extend .ability-md;
}

.normal-card {
  -webkit-animation: WoobWoobGrey linear 0.5s;
  -o-animation: WoobWoobGrey linear 0.5s;
  -ms-animation: WoobWoobGrey linear 0.5s;
  animation: WoobWoobGrey linear 0.5s;
}

.hero-card {
  -webkit-animation: WoobWoob linear 0.5s;
  -o-animation: WoobWoob linear 0.5s;
  -ms-animation: WoobWoob linear 0.5s;
  animation: WoobWoob linear 0.5s;
}

.attack-card {
  -webkit-animation: WoobWoobRed linear 0.5s;
  -o-animation: WoobWoobRed linear 0.5s;
  -ms-animation: WoobWoobRed linear 0.5s;
  animation: WoobWoobRed linear 0.5s;
}

.heal-card {
  -webkit-animation: WoobWoobGreen linear 0.5s;
  -o-animation: WoobWoobGreen linear 0.5s;
  -ms-animation: WoobWoobGreen linear 0.5s;
  animation: WoobWoobGreen linear 0.5s;
}

.ability-card:before {
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: contain;
  position: absolute;
  content: '';
  z-index: 11;
  pointer-events: none;
  // box-shadow: 0 0 15px 14px #fff;
  -webkit-animation: Ability 0.5s cubic-bezier(.57,.15,1,-0.55);
  -moz-animation: Ability 0.5s cubic-bezier(.57,.15,1,-0.55);
  animation: Ability 0.5s cubic-bezier(.57,.15,1,-0.55);
}

@-webkit-keyframes Ability {
  0% { transform: translate(-15%, -5%) scale(0.75); }
  100% { transform: translate(-15%, -5%) scale(0); }
}

@-webkit-keyframes Ability {
  0% { transform: translate(-15%, -5%) scale(0.75); }
  100% { transform: translate(-15%, -5%) scale(0); }
}

@keyframes Ability {
  0% { transform: translate(-15%, -5%) scale(0.75); }
  100% { transform: translate(-15%, -5%) scale(0); }
}

.activeCard {
  position: relative;
  transform: scale(1.1, 1.1) !important;
}

.card-wrap .shadow,
.grave .shadow {
  height: calc(100% - 40px);
  left: 14px;
  top: 20px;
  width: calc(100% - 26px);
}

.card-wrap:hover, .activeCard {
  z-index: 20;
  transform: translate(0, -10px);
}

/** SHAME **/

.card-wrap:hover .card-animation,
.activeCard .card-animation,
.grave:hover .card-animation,
.leader-card:hover .card-animation {
  box-shadow: 0 0 2px 0 orange;
  opacity: 1;
}

.card-animation {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  border-radius: 0;

  background: linear-gradient(2deg, #000, #000, #000, #000);;
  transition: all .05s ease-in-out 0s;
}

.shadow {
  border-radius: 35%;
  box-shadow: 0 0 15px 14px #ffa500;
  content: "";
  height: calc(100% - 50px);
  left: 15px;
  position: absolute;
  width: calc(100% - 22px);
  z-index: 1;
  top: 30px;
  transition: all 0.3s ease-in-out 0s;
  opacity: 0;
}

.card-wrap:hover .shadow,
.grave:hover .shadow,
.activeCard .shadow,
.leader-card:hover .shadow {
  -webkit-animation: Shadow 4s ease-in-out infinite;
  -moz-animation: Shadow 4s ease-in-out infinite;
  animation: Shadow 4s ease-in-out infinite;
}

.card-wrap:hover .card-animation,
.activeCard .card-animation,
.grave:hover .card-animation,
.leader-card:hover .card-animation {
  background: linear-gradient(2deg, #ffa500, #ffd68b, #ffa500, #ffa500);
  background-size: 800% 800%;

  -webkit-animation: CardAnimation 3s ease infinite;
  -moz-animation: CardAnimation 3s ease infinite;
  animation: CardAnimation 3s ease infinite;
}

@-webkit-keyframes Shadow {
  0% { opacity: 0; }
  25% { opacity: .5; }
  50% { opacity: 1; }
  75% { opacity: .5; }
  100% { opacity: 0; }
}

@-webkit-keyframes Shadow {
  0% { opacity: 0; }
  25% { opacity: .5; }
  50% { opacity: 1; }
  75% { opacity: .5; }
  100% { opacity: 0; }
}

@keyframes Shadow {
  0% { opacity: 0; }
  25% { opacity: .5; }
  50% { opacity: 1; }
  75% { opacity: .5; }
  100% { opacity: 0; }
}

.overlay-card {
  background: linear-gradient(2deg, rgba(255, 255, 255, .03), rgba(255, 255, 255, .2), rgba(255, 255, 255, .05));
  background-size: 800% 800%;
  position: absolute;
  z-index: 20;
  top: 3px;
  left: 3px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  opacity: 0;
  cursor: pointer;
}

.card-wrap:hover .overlay-card,
.activeCard .overlay-card,
.grave:hover .overlay-card,
.leader-card:hover .overlay-card {
  opacity: 1;
  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes CardAnimation {
  0% { background-position: 51% 0% }
  50% { background-position: 50% 100% }
  100% { background-position: 51% 0% }
}

@-moz-keyframes CardAnimation {
  0% { background-position: 51% 0% }
  50% { background-position: 50% 100% }
  100% { background-position: 51% 0% }
}

@keyframes CardAnimation {
  0% { background-position: 51% 0% }
  50% { background-position: 50% 100% }
  100% { background-position: 51% 0% }
}

/** SUB HAND **/

.sub-hand {
  float: left;
  width: 150px;
  margin: 18px 0 0 0;
}

.grave {
  position: relative;
  width: 69px;
  height: 93px;
  float: left;
}

.grave-img {
  background: url(../grave.png) no-repeat;
  position: absolute;
  width: 63px;
  height: 87px;
  top: 3px;
  left: 3px;
  z-index: 10;
}

.deck-back {
  background: url(../assets/texture/back.png) no-repeat;
  float: left;
  width: 63px;
  height: 87px;
  margin: 3px 0 0 10px;
}


@-webkit-keyframes WoobWoobGrey {
  0% {box-shadow: 0 0 15px #c3c3c3;}
  50% {box-shadow: 0 0 40px #b4b4b4;}
  100% {box-shadow: 0 0 15px #c3c3c3;}
}
@-o-keyframes WoobWoobGrey {
  0% {box-shadow: 0 0 15px #c3c3c3;}
  50% {box-shadow: 0 0 40px #b4b4b4;}
  100% {box-shadow: 0 0 15px #c3c3c3;}
}
@-ms-keyframes WoobWoobGrey {
  0% {box-shadow: 0 0 15px #c3c3c3;}
  50% {box-shadow: 0 0 40px #b4b4b4;}
  100% {box-shadow: 0 0 15px #c3c3c3;}
}
@keyframes WoobWoobGrey {
  0% {box-shadow: 0 0 15px #c3c3c3;}
  50% {box-shadow: 0 0 40px #b4b4b4;}
  100% {box-shadow: 0 0 15px #c3c3c3;}
}

@-webkit-keyframes WoobWoobGreen {
  0% {box-shadow: 0 0 15px #09c237;}
  50% {box-shadow: 0 0 40px #26b439;}
  100% {box-shadow: 0 0 15px #09c237;}
}
@-o-keyframes WoobWoobGreen {
  0% {box-shadow: 0 0 15px #09c237;}
  50% {box-shadow: 0 0 40px #26b439;}
  100% {box-shadow: 0 0 15px #09c237;}
}
@-ms-keyframes WoobWoobGreen {
  0% {box-shadow: 0 0 15px #09c237;}
  50% {box-shadow: 0 0 40px #26b439;}
  100% {box-shadow: 0 0 15px #09c237;}
}
@keyframes WoobWoobGreen {
  0% {box-shadow: 0 0 15px #09c237;}
  50% {box-shadow: 0 0 40px #26b439;}
  100% {box-shadow: 0 0 15px #09c237;}
}

@-webkit-keyframes WoobWoobRed {
  0% {box-shadow: 0 0 15px #c20909;}
  50% {box-shadow: 0 0 40px #b42626;}
  100% {box-shadow: 0 0 15px #c20909;}
}

@-o-keyframes WoobWoobRed {
  0% {box-shadow: 0 0 15px #c20909;}
  50% {box-shadow: 0 0 40px #b42626;}
  100% {box-shadow: 0 0 15px #c20909;}
}
@-ms-keyframes WoobWoobRed {
  0% {box-shadow: 0 0 15px #c20909;}
  50% {box-shadow: 0 0 40px #b42626;}
  100% {box-shadow: 0 0 15px #c20909;}
}
@keyframes WoobWoobRed {
  0% {box-shadow: 0 0 15px #c20909;}
  50% {box-shadow: 0 0 40px #b42626;}
  100% {box-shadow: 0 0 15px #c20909;}
}
