@import "ability";

.lobby {
  width: 100%;
  height: 100%;
  display: flex;
  background: white;
  flex-direction: column;
  background-image: url("/assets/texture/kanban/mvbg.jpg");
  // background-position: center;
  background-size: cover;
}

.lobby-header {
  background: #ffffffc9;
  width: 100%;
  padding: 0 10px;
  text-shadow: none;
  font-size: 18px;
  font-weight: 300;
  line-height: 29pt;
}

.lobby-main {
  flex-grow: 1; 
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #fff;
  z-index: 9999;
  opacity: 1;
  transition: all 1s;
}

.kanban {
  height: 100%;
  min-height: 600px;
  background-position: center;
  background-size: cover;
}
.kanban-kumiko {
  background-image: url("/assets/texture/kanban/67.kumiko.oumae.png");
}
.kanban-ririka {
  background-image: url("/assets/texture/kanban/14.ririka.kenzaki.png");
}
.kanban-mizore {
  background-image: url("/assets/texture/kanban/13.mizore.yoroizuka.png");
}
.kanban-nozomi {
  background-image: url("/assets/texture/kanban/18.nozomi.kasaki.png");
}
.kanban-reina {
  background-image: url("/assets/texture/kanban/41.reina.kousaka.png");
}
.kanban-kanade {
  background-image: url("/assets/texture/kanban/68.kanade.hisaishi.png");
}



.lobby-panel {
  overflow-y: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #00000020;
  padding: 30px;
}

.panel-row {
  width: 100%;
  display: flex;
}

.subtitle {
  padding-left: 10px;
  margin: 15px 0 0 0;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 3px black;
  font-size: 24px;
}

.panel-btn {
  width: 180px;
  height: 120px;
  position: relative;
  text-align: center;
  overflow: hidden;
  margin: 10px;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  border: 2px solid #ffffff;
  box-shadow: 3px 3px 11px 0px #0000003d;

  .btn-text {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    padding: 5px;
    z-index: 1;
    text-shadow: 0px 0px 7px #000000;
    transition: all .5s;
  }

  .btn-background {
    width: 100%;
    height: 100%;
    // padding: 20px 0;
    background-color: black; /* fallback color */
    background-position: center;
    background-size: cover;
    transition: all .5s;
    filter: grayscale(60%);
  }

  .btn-kyoto {
    background-image: url("/assets/texture/kyoto.JPG");
  }
  .btn-kansai {
    background-image: url("/assets/texture/kansai.JPG");
  }
  .btn-zenkoku {
    background-image: url("/assets/texture/zenkoku.JPG");
  }

  .btn-background-partial {
    position: absolute;
    right: 0;
    bottom: -20%;
    opacity: .1;
    transform: scale(1.2);
    transition: all .5s;
  }
  .btn-collection {
    @extend .ability-md-muster;
    @extend .ability-md;
  }
  .btn-startMatchWithBot {
    @extend .ability-md-guard;
    @extend .ability-md;
  }
  .btn-startMatch {
    @extend .ability-md-bond;
    @extend .ability-md;
  }
}

.disabled {
  .btn-background {
    filter: grayscale(100%);
  }
  .quest-progress {
    display: none;
  }
}

.disabled:hover,
.disabled:focus {
  color: white !important;
  .btn-background {
    transform: none !important;
    filter: grayscale(100%) !important;
  }
}

.panel-btn-sm {
  height: 90px !important;
}

.panel-btn:hover .btn-background-partial,
.panel-btn:focus .btn-background-partial {
  transform: scale(1.5);
}

.panel-btn:hover .btn-background,
.panel-btn:focus .btn-background {
  transform: scale(1.1);
  filter: none;
}

.panel-btn:hover,
.panel-btn:focus {
  color: #ddd;
}

.quest-progress {
  position: absolute;
  z-index: 11;
  right: 0;
  bottom: 0;
  width: 40px;
  height: 24px;
  background: #00000030;

  .progress-text {
    position: absolute;
    right: 5px;
    line-height: 24px;
    font-size: 18px;
    font-weight: bold;
  }
}

.lobby-footer {
  background: #ffffffc9;
  width: 100%;
  text-shadow: none;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  line-height: 29pt;
}

.ranking-modal-content {
  color: white;
}

.ranking-table {
  min-height: 300px;
  table {
    width: 100%;
  }
  th {
    padding-right: 50px;
  }
}