//@import "style";
@import "backbone.modal";
@import "backbone.modal.theme";
@import "effects";
@import "base";
@import "collections";


$height: 600px;
$game-height: 800px;

.container {
  width: 100%;
  height: 100%;
  min-width: 970px;
  background: rgba(5,5,5,0.25);
  margin-bottom: 150px;
  //margin-top: 65px;
}
.board {
  height: $game-height;
  padding-top: 2px;
  //border: 1px solid black;
}

.battleside {
  width: 100%;
  height: $height/2;
  padding-left: 0;
  padding-right: 0;
  //border: 1px solid black;
}

.large-field-counter {
  background-color: #2d1300;
  margin-right: 10px;
  margin-left: -10px;
  line-height: 20px;
  //border: 1px solid black;
  border-radius: 30px;
  width: 45px;
  height: 40px;
  padding: 10px;
  margin-top: 33px;
  text-align: center;
  font-size: 20px;
  color: #8798ac;
}

.field {
  display: flex;
  width: 100%;
  padding-left: 50px;
  //width: 100%;
  height: 100px;
  padding-top: 3px;
  // border-bottom: 1px solid black;

  .card:first-child {
    margin-left: 0 !important;
  }
}

.active-field {
  //box-shadow: 0px 0px 15px #ffbb0b !important;
  cursor: pointer;

  -webkit-animation: WoobWoob linear 2s;
  -webkit-animation-iteration-count: infinite;

  -o-animation: WoobWoob linear 2s;
  -o-animation-iteration-count: infinite;
  
  -ms-animation: WoobWoob linear 2s;
  -ms-animation-iteration-count: infinite;

  animation: WoobWoob linear 2s;
  animation-iteration-count: infinite;

  /*&:hover {
    box-shadow: 0px 0px 30px #ffd135 !important;
  }*/
}

@-webkit-keyframes WoobWoob {
  0% {
    box-shadow: 0 0 15px #ffbb0b;
  }
  50% {
    box-shadow: 0 0 40px #ffd135;
  }
  100% {
    box-shadow: 0 0 15px #ffbb0b;
  }
}

@-o-keyframes WoobWoob {
  0% {
    box-shadow: 0 0 15px #ffbb0b;
  }
  50% {
    box-shadow: 0 0 40px #ffd135;
  }
  100% {
    box-shadow: 0 0 15px #ffbb0b;
  }
}
@-ms-keyframes WoobWoob {
  0% {
    box-shadow: 0 0 15px #ffbb0b;
  }
  50% {
    box-shadow: 0 0 40px #ffd135;
  }
  100% {
    box-shadow: 0 0 15px #ffbb0b;
  }
}
@keyframes WoobWoob {
  0% {
    box-shadow: 0 0 15px #ffbb0b;
  }
  50% {
    box-shadow: 0 0 40px #ffd135;
  }
  100% {
    box-shadow: 0 0 15px #ffbb0b;
  }
}

.field-horn {
  /*
    border: 1px solid green;*/
  /*clear: both;*/
  margin: 0px;
  padding: 0 10px;
  width: 100px;
  height: 100px;
  //width: 64px;
  background-position: 7px 20px;
  //opacity: 0.4;
}

.field:hover, .field-single:hover {
  //box-shadow: 0px 0px 10px #000;
}

.handcard-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.field-hand {
  //margin-top: 20px;
  padding: 0;
  border: none;
  transition: all .2s ease-in-out 0s;
  background: rgba(6, 13, 22, .8);
  height: 110px;
  /* margin-right: 80px; */
  width: 710px;
  z-index: 20;
  margin-top: 6px;
  margin-left: 90px;

  .card {
    margin-left: -31px;
    &:first-child {
      margin-left: 0 !important;
    }
    &:hover {
      position: relative;
      z-index: 10;
      transform: scale(1.1, 1.1);
    }
  }
}

.passing {
  color: #3f4c5b;
  margin: 15px 0 0;
  text-align: right;
  text-transform: uppercase;
  /*
    display: none;*/
}

.countdown-timer {
  color: #41ff2a;
  position: absolute;
  top: 10px;
  right: 50px;
  padding: 0 15px;
  font-weight: bold;
}

.countdown-timer-danger {
  color: #ff2a2a;
}

.field-single {
  //border: 1px solid black;
  /*
    width: 85px;*/
  /*margin: 5px;*/
  //height: 98px;
  padding: 0;
}

.left-side {
  height: 768px;
  width: 338px;
  display: flex;
  flex-direction: column;
}

.middle-side {
  height: 100%;
  width: 800px;
}

.right-side {
  height: 768px;
  max-width: 300px;
}

.board {
}

.field-deck-number {
  display: block;
  text-align: center;
  font-size: 14px;
  margin: 5px 0 0 0;
  color: #3f4c5b;
}

.score {
  float: right;
  width: 40px;
  font-weight: bold;
  transform: translate(50px, 0);
  background: url("/assets/texture/player_power_indicator.png") center no-repeat;
  background-size: contain;
  padding-left: 5px;
  padding-right: 5px;
}

.score,
.hand-card {
  color: white;
  text-align: center;
  line-height: 40px;
}

.field-weather {
  border: none;
  padding-left: 100px;
  height: 110px;
}

.info-title {
  background: url("/assets/texture/board_cards.png") no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
}

.info-name {
  color: #8798ac;
  font-size: 18px;
  margin: 15px 0;
}

.button-pass-wrap {
  padding: 0;
  margin-right: 50px;
  float: right;
  height: 100%;
}

  .button-pass {
    top: 50%;
    transform: translate(0, -50%);
    border: 0;
    background: #3f4c5b;
    padding: 5px 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    position: relative;
    z-index: 21;

    &:hover {
      background: lighten(#3f4c5b, 10%);
    }

    &:active {
      background: #3f4c5b;
    }
  }

.game-info {
  padding: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  //border: 1px solid black;
  //background: rgba(252, 219, 125, 0.1);
  position: relative;

  div {
    margin-bottom: 5px;
    font-size: 17px;
  }

  .info-inner {
    background: rgba(0,0,0,0.4);
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .icon-hand-card {
    background: url("../../assets/texture/card_icon.png") no-repeat;
    height: 50px;
    width: 50px;
    display: block;
    position: absolute;
    margin-top: -8px;
  }
}

.game-info-foe {
  .field-leader {
    padding-top: 50px;
    padding-left: 100px;
  }
}

.game-info-player {
  flex-direction: column-reverse;
  .field-leader {
    margin-bottom: 35px;
    padding-left: 100px;
  }
}

.removeBackground {
  background: rgba(0,0,0, .4);
}

.mid-line {
  width: 100%;
  height: 1px;
  //border: 1px solid black;
  margin: 6px;
}

.right-side-inner {
  &:nth-child(2) {
    border-bottom: 1px solid black;
  }
  height: 50%;
  padding-left: 30px;
}

.right-side-player {
  display: flex;
  flex-direction: column-reverse;
}

.play-card-animation {
  position: fixed;
  transform: translate(1200px,300px);
  left: 0;
  top: 0;
  height: 93px;
  width: 69px;
  visibility: hidden;
  overflow: hidden;
}

.play-card-animation i {
  border-radius: 10px;
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  transform: scale(0.43) translate(-68%, -67%);
  z-index: 10;
}

.sunray-animation {
  background: url("/assets/texture/board_weather_sunrays.png");
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 11;
  transform-origin: top left;
  -webkit-animation: rotation 1s infinite linear;
}

@-webkit-keyframes rotation {
  from {
      -webkit-transform: rotate(-90deg);
  }
  to {
      -webkit-transform: rotate(0deg);
  }
}

.move-to-player-siege {
  transition: 0.3s;
  visibility: visible;
  transform: translate(800px,520px);
}

.move-to-player-range {
  transition: 0.3s;
  visibility: visible;
  transform: translate(800px,420px);
}

.move-to-player-close {
  transition: 0.3s;
  visibility: visible;
  transform: translate(800px,320px);
}

.move-to-foe-siege {
  transition: 0.3s;
  visibility: visible;
  transform: translate(800px,5px);
}

.move-to-foe-range {
  transition: 0.3s;
  visibility: visible;
  transform: translate(800px,105px);
}

.move-to-foe-close {
  transition: 0.3s;
  visibility: visible;
  transform: translate(800px,205px);
}

.card {
  /*border: 2px solid black;
  float: left;
  margin: 3px;
  overflow: hidden;*//*
  height: 90px;
  overflow: hidden;*//*
  border: none !important;
  margin: 0 !important;
  border-radius: 0 !important;
  overflow: visible !important;
  height: 93px !important;
*/

  i {/*
    display: block;*/
    //transform: scale(1);
  }

  /*.card-attr-power {
    margin-top: 0px;
    margin-left: 0px;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 20px;
    color: black;
  }*/
  .card-attr-positive span {
    color: #00b000 !important;
  }

  .card-attr-power {
    position: absolute;
    margin-top: 2px;
    margin-left: 2px;
    //margin-top: 2px;
    cursor: default;
    //padding-top: 3px;
    //padding-left: -4px;
    height: 20px;
    width: 20px;
    background: url("../../assets/texture/card_strength_border.png") no-repeat;
    background-size: contain;
    z-index: 11;
    transition: all .2s ease-in-out 0s;

    span {
      color: #ff2d00;
      text-shadow: 1px 1px 1px #10101029;
      text-align: center;
      font-weight: bold;
      font-size: 14px;
      width: 20px;
      display: block;
      margin-left: -1px;
      margin-top: -1px;
      line-height: 20px;
    }
  }

  &.disabled {
    opacity: 0.5;
  }

  /*&.activeCard {
    position: relative;
    z-index: 11;
    transform: scale(1.5, 1.5) !important;
  }*/
}

.field-discard,
.field-deck {
  background: rgba(0,0,0,.6);
  float: left;
  width: 65px;
  height: 90px;
  cursor: pointer;
  margin: 60px 0 40px 0;
  transition: all .2s ease-in-out 0s;

  &:hover {
    background: rgba(0,0,0,.9);
  }

  i {
    width: 35px;
    height: 40px;
    display: block;
  }
}

.field-deck {
  margin: 60px 20px 40px 20px;
}

.discard-skull {
  background: url("../../assets/texture/discard.png") no-repeat;
  margin: 23px auto 0 auto;
}

.icon-deck {
  background: url("../../assets/texture/card_icon.png") no-repeat;
  margin: 13px auto 0 auto;
}

.card-preview {
  z-index: 300;
  > div {
    position: fixed;
    //left:0;
    z-index: 310;
    //height: 100px !important;
    margin-top: 40px;
    margin-left: 5px;
    i {
      display: block;
    }
    .preview-description {
      width: 238px;
      min-height: 200px;
      background: rgba(16, 16, 16, 0.57);
      color: #ffffff;

      p {
        padding: 10px;
      }
    }
  }

}

.gwent-lives {
  padding: 0;

  i {
    display: block;
    float: left;
    height: 40px;
    width: 40px;
    margin: 0 10px 0 0;
    background: url("../../assets/texture/ruby-grey.png");
    &.ruby {
      background: url("/assets/texture/player_life_gem_large.png") no-repeat;
      background-size: contain;
    }
  }
}

.field {
  &.field-weather-anim:before {
    -webkit-animation: fade-in 0.5s;
  }
  &.field-frost:before {
    position: absolute;
    content: '';
    background: url("/assets/texture/board_weather_frost.png"); /*partially transparent image*/
    transform: translate(140px, -3px);
    transition: 0.3s;
    width: 610px;
    height: 100px;
    z-index: 11;
    pointer-events: none;
  }
  &.field-fog:before {
    position: absolute;
    content: '';
    background: url("/assets/texture/board_weather_fog.png");
    transform: translate(140px, -3px);
    transition: 0.3s;
    width: 610px;
    height: 100px;
    z-index: 11;
    pointer-events: none;
  }

  &.field-rain:before {
    position: absolute;
    content: '';
    background: url("/assets/texture/board_weather_rain.png");
    transform: translate(140px, -3px);
    transition: 0.3s;
    width: 610px;
    height: 100px;
    z-index: 11;
    pointer-events: none;
  }
}

@keyframes fade-in {
  0% {opacity:0;}
  100% {opacity:1;}
}

.field-close {
  display: flex;
  justify-content: center;
}

.field-range {
  display: flex;
  justify-content: center;
}

.field-siege {
  display: flex;
  justify-content: center;
}

.playcard-banner {
  position: fixed;
  border: 1px solid red;
  background: orangered;
  width: 100%;
  height: 250px;
  left: 0;
  text-align: center;
  top: 200px;
  z-index: 200;
  .card {
    position: relative;
    left: 50%;
    top: 30%;
  }
}

.waiting-for-opponent {

  // temp
  //display: none;

  position: fixed;
  //left: 43%;
  cursor: default;
  width: 100%;
  text-align: center;
  //left: calc(50% - 400px) ;
  left: 0;
  //top: calc(50% - 60px);
  // top: calc(100% - 155px);
  bottom: 0;
  //border: 1px solid black;
  //border-radius: 10px;
  /*
  padding: 0px 200px;*/
  font-size: 19px;
  line-height: 15px;
  padding: 10px;
  z-index: 300;
  color: #dfe1fd;
  //text-shadow: 0px 0px 1px #000;
  background: #444ba1;
}

.waiting-for-opponent,
.notification-left {
   animation: Woob linear 2s;
   animation-iteration-count: infinite;
   transform-origin: 50% 50%;
   -webkit-animation: Woob linear 2s;
   -webkit-animation-iteration-count: infinite;
   -webkit-transform-origin: 50% 50%;
   -moz-animation: Woob linear 2s;
   -moz-animation-iteration-count: infinite;
   -moz-transform-origin: 50% 50%;
   -o-animation: Woob linear 2s;
   -o-animation-iteration-count: infinite;
   -o-transform-origin: 50% 50%;
   -ms-animation: Woob linear 2s;
   -ms-animation-iteration-count: infinite;
   -ms-transform-origin: 50% 50%;
 }

.notification-left {
  background: #c64b4b;
  color: #fff;
  left: 0;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  text-align: center;
  font-size: 17px;
}

.notification-connecting {
  background: #c6974b;
}

.alert-success {
  background: #3f4c5b5a;
  color: #fff;
  border-radius: 0;
  border: 0;
}

.container {
  position: relative;
}

.notifications {
  position: fixed;
  top: 0;
  z-index: 200;
  width: 500px;
  left: calc(50% - (500px/2));
}

.notification {
  height: 0;
  /*margin-left: 250px;
  margin-right: 250px;*/


  .alert {
    margin-bottom: 0;
    display: none;
    //padding: 0;
  }
}

.gwent-battle {
  height: 100%;
  > div {
    height: 100%;
  }
}

.gwent-battle-background {
  background: url(/assets/texture/board.png) left top no-repeat #000000;
  background-size: 1440px auto;
  height: 100%;
}

.gwent-battle-inner {
  height: 800px;
  max-height: 100%;
  width: 100%;
  display: flex;
}

.startMatchmaking {
  height: 50px;
  line-height: 35px;
  width: 200px;
  text-align: left;
}

.image-gif-loader {
  background: url("../../assets/texture/content-load.gif");
  display: block;
  height: 32px;
  width: 32px;
  margin-left: 10px;

}

@keyframes Woob{
  0% {
    opacity:1;
  }
  50% {
    opacity:0.8;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes Woob{
  0% {
    opacity:1;
  }
  50% {
    opacity:0.8;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes Woob {
  0% {
    opacity:1;
  }
  50% {
    opacity:0.8;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes Woob {
  0% {
    opacity:1;
  }
  50% {
    opacity:0.8;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes Woob {
  0% {
    opacity:1;
  }
  50% {
    opacity:0.8;
  }
  100% {
    opacity:1;
  }
}